dataset/*
__pycache__/*
model/*
audio/*
image/*
audio.zip
logs/*
test/Golgi.png
test/KAWAI-Tri.png
test/KAWAI.png
test/Old-YingChang.png
test/StarSea.png
test/Steinway-Theater.png
test/Steinway.png
test/*
.vscode/launch.json
debug.log
results/dur.csv
